body{
    background-color: #333333;
    color: #ffffff;
}
h1 {
    margin:20px;
    padding:20px;
}

.footer {
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: #727477;
    padding: 25px 0;
    width: 100%;
  }

